.App {
  width: 960px;
  margin: 16px auto;
}

.view {
  border: 1px solid #cccccc;
  border-radius: 15px;
  box-shadow: 0 0 10px #cccccc;
  padding: 16px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#click-to-edit {
  .input {
    margin-bottom: 16px;
  }

  input {
    margin-left: 12px;
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

#tab {
  .tab-list {
    display: flex;
  }

  .tab {
    width: 120px;
    padding: 8px 14px;
    cursor: pointer;
    user-select: none;
    font-weight: bold;

    background-color: #cccccc;
    transition: background-color 0.2s ease-out;

    &.selected {
      background-color: #c678dd;
    }
  }

  .display {
    height: 120px;
    line-height: 120px;
  }
}

#toggle {
  .toggle-bg {
    width: 120px;
    height: 50px;
    margin-bottom: 16px;
    border-radius: 25px;
    background-color: #cccccc;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s ease-out;
    &.on {
      background-color: #c678dd;
    }
  }

  .toggle-btn {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: white;

    transform: translateX(-35px);
    transition: transform 0.2s ease-out;
    &.on {
      transform: translateX(35px);
    }
  }
}

#modal {
  position: relative;
  height: 200px;

  .open-btn {
    width: 120px;
    height: 48px;
    border-radius: 24px;
    background-color: #c678dd;
    cursor: pointer;
    user-select: none;

    font-size: 14px;
    font-weight: bold;
    color: white;

    text-align: center;
    line-height: 48px;
  }

  .modal-bg {
    &.active {
      position: absolute;
      width: 960px;
      height: calc(100% + 2px);
      border-radius: 15px;
      background-color: #00000088;
    }
  }

  .modal-window {
    display: none;

    &.active {
      position: absolute;
      width: 280px;
      height: 130px;
      border-radius: 15px;
      background-color: white;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .close-btn {
      margin-top: 12px;
      cursor: pointer;
    }
    .display {
      display: flex;
      align-items: center;

      flex-grow: 1;
    }
  }
}

#tag {
  height: 320px;

  .tag-list {
    height: 32px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 8px;

    display: flex;
    align-items: center;

    &.focused {
      border: 2px solid #c678dd;
    }

    input {
      border: none;
      padding: 0;
      background-color: #0000;
    }
    input:focus {
      outline: none;
    }
  }

  .tag {
    height: 28px;
    margin-right: 6px;
    border-radius: 6px;
    padding: 2px 6px;
    background-color: #c678dd;
    user-select: none;

    display: flex;
    align-items: center;

    .del-btn {
      $r: 16px;
      height: $r;
      width: $r;
      margin-left: 4px;
      border-radius: $r / 2;
      background-color: white;
      cursor: pointer;

      font-size: 12px;
      line-height: $r;
      text-align: center;
      transform: rotate(45deg);
    }
  }
}
